:root {
  --background: #ffffff;
  --foreground: #312e2e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c2a2a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  color: inherit;
  /* text-decoration: none; */
  text-underline-offset: var(--background);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.navbar{
 display: flex;
 width: 100%;
 justify-content: space-between;
 height: 40px;
 padding: 15px;
}
.name{
  font-size: x-large;
  /* color: aquamarine; */
}
.bio-options{
  font-size: larger;
  display: flex;
  justify-content: space-around;
  width: 30%;
  color: red;
}
.content{
  padding: 5rem 4rem;
  display: flex;
  justify-content: space-between;
}
.profile img{
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.about strong{
  font-size: 45px;
  color: blanchedalmond;
}
.bio-content{
  width: 90%;
}
@media only screen and (max-width: 600px) {
  .name{
    font-size: x-large;
  }
  .profile img{
    border-radius: 50%;
    width: 140px;
    height: 140px;
  }
  .content{
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
  }
  .about strong{
    font-size: 20px;
  }
  .bio-content{
    width: 95%;
    font-size: 15px;
  }
  .bio-options{
    font-size: small;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 50%;
   
  }
 
}
